[Unit]
Description=GPT4free Service
Documentation=https://github.com/xtekky/gpt4free
After=network.target
Requires=opera-proxy.service

[Service]
Type=simple
Environment=G4F_PROXY=http://127.0.0.1:18080
WorkingDirectory=%h/.local/state/gpt4free
ExecStartPre=/usr/bin/mkdir -p %h/.local/state/gpt4free/har_and_cookies %h/Pictures/gpt4free
ExecStartPre=-/usr/bin/ln -s %h/Pictures/gpt4free %h/.local/state/gpt4free/generated_images
ExecStart=%h/.local/bin/uvx --with unicorn,uvicorn,fastapi,python-multipart,aiohttp_socks g4f api
Restart=on-failure
