[Unit]
Description=Opera Proxy Service
Documentation=https://github.com/Snawoot/opera-proxy
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/opera-proxy
Restart=on-failure

[Install]
WantedBy=default.target
